[submodule "scripts"]
	path = scripts
	url = https://github.com/SqrtMz/scripts
[submodule "modules/hypr/plugins/split-monitor-workspaces"]
	path = modules/hypr/plugins/split-monitor-workspaces
	url = https://github.com/zjeffer/split-monitor-workspaces
