/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans semibold", "Symbols Nerd Font Mono";
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.4);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

 #workspaces {
    margin: 3px 7px 3px 3px;
    border: 0px;
    font-size: 12px;
}

#workspaces button {
    border: 0px;
    margin:4px 5px 4px 0px;
    padding:0px 4px 0px 4px;
    transition: all 0.5s ease-in-out;
}

#workspaces button:hover {
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 0px 13px 0px 0px;
    border-radius: 10px;
    font-size:12px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar button {
    padding: 0px 2px 0px 2px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-system {
    margin-top: 2px;
    margin-right:12px;
    font-size: 12px;
    font-weight: bold;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
    font-size: 18px;
    margin: 0px 15px 0px 10px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:12px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 13px;
    margin: 0px 13px 0px 0px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 12px;
    border-radius: 13px;
    margin: 0px 13px 0px 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 12px;
    border-radius: 13px;
    margin: 0px 13px 0px 0px;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}